<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title></title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">What is a Task Manager App?</h1><br>
    <p class="lead">A task manager app is an application or tool that lets you plan, organize and prioritize all your tasks so that you can finish them within the limited time frame and in the most efficient manner.
        Essentially, as its name suggests, it is an app to manage your tasks efficiently. The aim of a task manager app is to ensure that you rule out the possibility of missing out on your deadlines and get your work-life organized.</p>
    <h2>Why You Need a Task Manager App?</h2><br>
    <p class="lead"> Using a good task manager app has many benefits:
        A task manager visualizes data and presents them in a centralized platform
        It helps organize your work by creating, assigning, and managing tasks
        Allows you to effectively collaborate with your team by sharing ideas, comments, and feedback
        It helps break down tasks and prioritizes them.
        Helps monitor and track your task progress.
        Sends you alerts and reminders to finish your tasks before deadlines.
        Helps assign and delegate projects and tasks to team members.<br>
        <br>
        It is simply the easiest and most convenient way to manage projects and tasks.</p>
    <style>
        body { background: url(images/tm.jpg); }
    </style>

</main>


<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>
