<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Manager</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Task Manager</h1>

    <h2 class="my-second-header">Demo Users:</h2>
    <p>
        <li>admin@mail.com, password: root123</li>
        <li>maria@mail.com, password: root123</li>
        <li>john@mail.com, password: root123</li>
    </p>

    <style>
        body { background: url(images/tm.jpg); }
    </style>

 </main>

 <footer class="footer">
     <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>
